{{extend 'layout.html'}}
<script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>
<style>
div{
font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
}
.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

rect {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
rect:hover{
	fill: orange;
}
</style>
<script>
 var arrResults = {};
 $.ajax({
		    url: "/polls/default/democraticScores.json"	,
		    type: 'post',
		    contentType: "application/json; charset=utf-8",
                    async:false,
		    success: function( data, textStatus, jQxhr ){
      
				arrResults = data;

						
		    },
		    error: function( jqXhr, textStatus, errorThrown ){
		        console.log(JSON.stringify(jqXhr)+ errorThrown );
		    }
		});
                 arrContestants = arrResults["strContestants"];
                 Scores = [];
                 
                 arrContestants.splice(arrContestants.indexOf('Others'), 1);
  for (var i=0;i<arrContestants.length;i++)
                                         {


                                                Contestant = arrContestants[i];
					
					
                                                 
                                                //Calculating the average
                                                var temparr = arrResults["floatPollCount"][i];
                                                total=0;
                                                for(var j=0;j<temparr.length;j++){
                                                        total += temparr[j];
                                                }
                                                averageScore = total/temparr.length;
			                        Scores.push(Math.round(averageScore));
						

				      }				





var w = 1000;
var h = 500;
var dataset = []
for(var i=0;i<arrContestants.length;i++){
		tempobject = {};
		tempobject['key']=i;
		tempobject['value'] = Scores[i];
		dataset.push(tempobject);

}

//var dataset = [ 
//	{ key: 0, value: 5 },
//	{ key: 1, value: 10 },
//	{ key: 2, value: 13 },
//	{ key: 3, value: 19 },
//	{ key: 4, value: 21 },
//	{ key: 5, value: 25 },
//	{ key: 6, value: 22 },
//	{ key: 7, value: 18 },
//	{ key: 8, value: 15 },
//	{ key: 9, value: 13 },
//	{ key: 10, value: 11 },
//	{ key: 11, value: 12 },
//	{ key: 12, value: 15 },
//	{ key: 13, value: 20 },
/*	{ key: 14, value: 18 },
	{ key: 15, value: 17 },
	{ key: 16, value: 16 },
	{ key: 17, value: 18 },
	{ key: 18, value: 23 },
	{ key: 19, value: 25 } ];
*/
var xScale = d3.scale.ordinal()
				.domain(d3.range(dataset.length))
				.rangeRoundBands([0, w], 0.05); 

var yScale = d3.scale.linear()
				.domain([0, d3.max(dataset, function(d) {return d.value;})])
				.range([0, h]);

var key = function(d) {
	return d.key;
};

//Create SVG element
var svg = d3.select("body")
			.append("svg")
			.attr("width", w)
			.attr("height", h);

//Create bars
svg.selectAll("rect")
   .data(dataset, key)
   .enter()
   .append("rect")
   .attr("x", function(d, i) {
		return xScale(i);
   })
   .attr("y", function(d) {
		return h - yScale(d.value);
   })
   .attr("width", xScale.rangeBand())
   .attr("height", function(d) {
		return yScale(d.value);
   })
   .attr("fill", function(d) {
		return "rgb(0, 0, " + (d.value * 10) + ")";
   })

	//Tooltip
	.on("mouseover", function(d) {
		//Get this bar's x/y values, then augment for the tooltip
		var xPosition = parseFloat(d3.select(this).attr("x")) + xScale.rangeBand() / 2;
		var yPosition = parseFloat(d3.select(this).attr("y")) + 14;
		
		//Update Tooltip Position & value
		d3.select("#tooltip")
			.style("left", xPosition + "px")
			.style("top", yPosition + "px")
			.select("#value")
			.text(d.value);
		d3.select("#tooltip").classed("hidden", false)
	})
	.on("mouseout", function() {
		//Remove the tooltip
		d3.select("#tooltip").classed("hidden", true);
	})	;

//Create labels
svg.selectAll("text")
   .data(dataset, key)
   .enter()
   .append("text")
   .text(function(d) {
		return d.value+"%"+arrContestants[d.key];
   })
   .attr("height", function(d) {
	   return yScale(d.value);
   })
   .attr("x", function(d, i) {
		return xScale(i) ;
   })
   .attr("y", function(d) {
		return h-yScale(d.value);
   })
   
   .attr("font-family", "sans-serif") 
   .attr("font-size", "11px")
   .style("dominant-baseline", "hanging")
	.attr("fill", "red");
   
var sortOrder = false;
var sortBars = function () {
    sortOrder = !sortOrder;
    
    sortItems = function (a, b) {
        if (sortOrder) {
            return a.value - b.value;
        }
        return b.value - a.value;
    };

    svg.selectAll("rect")
        .sort(sortItems)
        .transition()
        .delay(function (d, i) {
        return i * 50;
    })
        .duration(1000)
        .attr("x", function (d, i) {
        return xScale(i);
    });

    svg.selectAll('text')
        .sort(sortItems)
        .transition()
        .delay(function (d, i) {
        return i * 50;
    })
        .duration(1000)
        .text(function (d) {
        return d.value+"%"+arrContestants[d.key];;
    })
        .attr("text-anchor", "start")
           .style("dominant-baseline", "hanging")

        .attr("x", function (d, i) {
        	return xScale(i) ;
    })
        .attr("y", function (d) {
        	return h-yScale(d.value);
        	});
};
// Add the onclick callback to the button
d3.select("#sort").on("click", sortBars);
d3.select("#reset").on("click", reset);
function randomSort() {

	
	svg.selectAll("rect")
        .sort(sortItems)
        .transition()
        .delay(function (d, i) {
        return i * 50;
    })
        .duration(1000)
        .attr("x", function (d, i) {
        return xScale(i);
    });

    svg.selectAll('text')
        .sort(sortItems)
        .transition()
        .delay(function (d, i) {
        return i * 50;
    })
        .duration(1000)
        .text(function (d) {
        return d.value+"%"+arrContestants[d.key];;
    })
        .attr("text-anchor", "start")
           .style("dominant-baseline", "hanging")

        .attr("x", function (d, i) {
        	return xScale(i) ;
    })
        .attr("y", function (d) {
        return h - yScale(d.value) + 14;
    });
}
function reset() {
	svg.selectAll("rect")
		.sort(function(a, b){
			return a.key - b.key;
		})
		.transition()
        .delay(function (d, i) {
        return i * 50;
		})
        .duration(1000)
        .attr("x", function (d, i) {
        return xScale(i);
		});
		
	svg.selectAll('text')
        .sort(function(a, b){
			return a.key - b.key;
		})
        .transition()
        .delay(function (d, i) {
        return i * 50;
    })
        .duration(1000)
        .text(function (d) {
        return d.value+"%"+arrContestants[d.key];
    })
        .attr("text-anchor", "middle")
        .attr("x", function (d, i) {
        	return xScale(i) ;
    })
        .attr("y", function (d) {
        return h - yScale(d.value) + 14;
    });
};
sortBars();
</script>
<body>
    <!-- <button id="sort" onclick="sortBars()">Sort</button>
    <button id="reset" onclick="reset()">Reset</button> -->
</body>
