{{extend 'layout.html'}}
<!--tweet timeline of donalTrump -->
<style>
div{
font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
}
#dvtweets{

    
    position:fixed;  
    _position:absolute; /* hack for internet explorer 6 */  
 
    
    margin-left: 15px;  
    margin-bottom: 15px; 
    /* additional features, can be omitted */
          
    padding:15px;  
    font-size:15px;  


}
</style>
<div id="dvtweets">
<a class="twitter-timeline" href="https://twitter.com/search?q=usa%20democratic%20party" data-widget-id="674714379510788096">Tweets about usa democratic party</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
