{{extend 'layout.html'}}

<link href="{{=URL('static','css/FeedEk.css')}}" rel="stylesheet" type="text/css" />
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
<script type="text/javascript" src="http://momentjs.com/downloads/moment-with-langs.min.js"></script>
<script  src="{{=URL('static','js/FeedEk.js')}}"></script>
<style>
div{
font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
}
</style>
<script>
$(document).ready(function () {
        

        $('#divNbc').FeedEk({
            FeedUrl: 'http://feeds.nbcnews.com/feeds/topstories',
            MaxCount: 10
        });

        $('#divFox').FeedEk({
            FeedUrl: 'http://feeds.foxnews.com/foxnews/politics',
            MaxCount: 10
        });


        $('#divCnn').FeedEk({
            FeedUrl: 'http://rss.cnn.com/rss/cnn_allpolitics.rss',
            MaxCount: 10
        });

$('#divReuters').FeedEk({
            FeedUrl: 'http://feeds.reuters.com/Reuters/PoliticsNews',
            MaxCount: 10
        });
        
        
$('#divAl').FeedEk({
    FeedUrl: 'http://america.aljazeera.com/content/ajam/articles.rss',
    MaxCount: 10
});

$('#divRT').FeedEk({
    FeedUrl: 'https://www.rt.com/rss/',
    MaxCount: 10
});


	$("td").attr("style","vertical-align:top");
	$("a[target]").attr('onclick','alert(1)');
	
});
/*
$(document).ready(function(){
	$('div[class="itemTitle"]').hover(function(){
	alert($('this a:first-child').attr('href'));
	var htmlpath=$(this).attr('href');
	$("#blankdiv").load(htmlpath);
	})
});*/
//http://feeds.nbcnews.com/feeds/topstories'
//http://rss.cnn.com/rss/cnn_allpolitics.rss',
//http://feeds.foxnews.com/foxnews/politics
</script>


<h1>Latest Political News</h1>
<div class="rssDiv">

	<table colspan="3">
<tr>
	<td><div id="divFox" style="display: inline-block"></div></td>
        <td><div id="divReuters" style="display: inline-block"></div></td>
	<td><div id="divNbc" style="display: inline-block"></div></td>

<tr>
<tr>	<td><div id="divCnn" style="display: inline-block"></div></td>
<td><div id="divAl" style="display: inline-block"></div></td>
<td><div id="divRT" style="display: inline-block"></div></td>

</tr>
	</table>
       </div>


<div id="blankdiv"></div>
