{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
    <script src="{{=URL('static','js/nouislider.js')}}"></script>
    <link rel="stylesheet" href="{{=URL('static','css/nouislider.css')}}"/>
<script>
 $(function(){
		var skipSlider = document.getElementById('skipstep');	
		noUiSlider.create(skipSlider, {
    range: {
        'min': 1929,
        'max': 2014
    },
    connect: true,
    start: [1930, 1970]
});


var skipValues = [
	document.getElementById('skip-value-lower'),
	document.getElementById('skip-value-upper')
];

skipSlider.noUiSlider.on('update', function( values, handle ) {
	skipValues[handle].innerHTML = Math.round(values[handle]);
});

$("#btnGoGDP").click(function(){
	
	 $.ajax({
		    url: "/polls/default/gdpGraph.json",
		    type: 'post',
		    data:JSON.stringify({'fromyear':document.getElementById('skip-value-lower').innerHTML,'toyear':document.getElementById('skip-value-upper').innerHTML}),
		    contentType: "application/json; charset=utf-8",
                    async:false,
		    success: function( data, textStatus, jQxhr ){
      
				arrResults = data;
				/* alert(JSON.stringify(data['graph'])); */
				if($('#gdpgraph'))
					{
					$('#gdpgraph').remove();
					}
				var image = new Image();
				image.id='gdpgraph'
				image.src = 'data:image/png;base64,'+data["graph"];
				document.body.appendChild(image);
						
		    },
		    error: function( jqXhr, textStatus, errorThrown ){
		        console.log(JSON.stringify(jqXhr)+ errorThrown );
		    }
		});

});

$("#btnGoGDP").click();

});



</script>
<style>
div{
font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
}
</style>
<div id="skipstep"></div>
<span>From </span>
<span class="example-val" id="skip-value-lower">10.00</span><span> to </span>
<span class="example-val" id="skip-value-upper">10.00</span>
<span>To </span>
<input type="button" id="btnGoGDP" value="Build Graph">

