{{extend 'layout.html'}}
<script src="https://openui5.netweaver.ondemand.com/resources/sap-ui-core-nojQuery.js"
         id="sap-ui-bootstrap" 
        data-sap-ui-libs="sap.ui.commons" 
        data-sap-ui-theme="sap_goldreflection"> 
</script> 
<script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

<script>
$(function(){

	

	
	
	
	 
	 
var oLayout = new sap.ui.commons.layout.MatrixLayout({
	id : 'matrix1',
	layoutFixed : false,
	columns : 4,
	width: '800px'
	});



var oSlider = new sap.ui.commons.RangeSlider({
	id : 'Slider3',
	tooltip: 'Slider3',
	width: '600px',
	min: {{=min}},
	max: {{=max}},
	value: {{=min}},
	value2: {{=max}},
	totalUnits: 5,
	smallStepWidth: 1,
	stepLabels : true,
	change : function(){
		oInput.setValue(oSlider.getValue());
		oInput2.setValue(oSlider.getValue2());
		}
	});

var oInput = new sap.ui.commons.TextField({
	id : 'input1',
	value : oSlider.getValue(),
	tooltip: 'Value of the slider',
	width: '5em',
	change : function(){
		oSlider.setValue(parseInt(oInput.getValue(),10));
		}
	});
	
var oInput2 = new sap.ui.commons.TextField({
	id : 'input2',
	value : oSlider.getValue2(),
	tooltip: 'Value2 of the slider',
	width: '5em',
	change : function(){
		oSlider.setValue2(parseInt(oInput2.getValue(),10));
		}
	});
//create a lite button with an icon and a text
var oButton = new sap.ui.commons.Button({
	text : "Process Graph",
	icon : "sap-icon://bar-chart",
	height: "25px",
	press : function() {ProcessGraph()}
});

oLayout.createRow(oSlider, oButton);
oLayout.createRow(oInput, oInput2);


// attach it to some element in the page
oLayout.placeAt("sample3");


google.setOnLoadCallback(drawChart);


function drawChart(arrDataTable) {
      
	 	var data = google.visualization.arrayToDataTable(arrDataTable);

      var options = {
        title: 'HealthCare Pricing index',
        curveType: 'function',
        legend: { position: 'bottom' },
        backgroundColor: '#f1f8e9'
      };

      var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

      chart.draw(data, options);
    }
    
    
function ProcessGraph(){
	
document.getElementById('curve_chart').innerHTML = "";

var arrResults = [];
var arrDataTable = [];
arrDataTable.push(new Array('Year', 'Healthcare Pricing index'));

$.ajax({
    url: "/polls/default/hcpGraph.json"    ,
    type: 'post',
    contentType: "application/json; charset=utf-8",
    beforeSend:	function(){
    	oLayout.setBusy(true);	
    },
    data:JSON.stringify({'fromyear':oSlider.getValue(),'toyear':oSlider.getValue2()}),

    success: function( data, textStatus, jQxhr ){
    	console.log(data);
           arrYears = data["years"];
           arrhcp = data["hcp"];
           for(var i=0;i<arrhcp.length;i++){
        	   arrDataTable.push(new Array(arrYears[i],arrhcp[i]));
           }
        
           drawChart(arrDataTable);
           oLayout.setBusy(false);
                
    },
    error: function( jqXhr, textStatus, errorThrown ){
        console.log(JSON.stringify(jqXhr)+ errorThrown );
    }
});

}

ProcessGraph();

});
</script>

<div id="curve_chart" style="width: 900px; height: 500px"></div>
<div id="sample3"></div>
