{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>
<!-- <script src="http://code.jquery.com/jquery-1.11.3.min.js" language="Javascript"></script> -->
<script src="{{=URL('static','js/liquidFillGauge.js')}}"></script>
<script type="text/javascript" src="https://www.google.com/jsapi?autoload= 
{'modules':[{'name':'visualization','version':'1.1','packages':
['corechart']}]}"></script>
<style>
div{
font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
}
#dvtweets{

    display:none; /* Hide the DIV */
    position:fixed;  
    _position:absolute; /* hack for internet explorer 6 */  
    height:300px;  
    width:600px;  
    
    left: 300px;
    top: 150px;
    z-index:100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    margin-left: 15px;  
    
    /* additional features, can be omitted */
          
    padding:15px;  
    font-size:15px;  
    -moz-box-shadow: 0 0 5px #ff0000;
    -webkit-box-shadow: 0 0 5px #ff0000;

}
table{
border: 5px solid green;
align:    center;
font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
}

td {
width:250px;
border: 5px solid green;
text-align: right;
padding:10px;
    text-align:center;
    background-color:#DEF3CA;
    border: 2px solid #E7EFE0;
     color:#666;
    text-shadow:1px 1px 1px #fff;
}
</style>
{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        {{if response.title:}}
        <h1>{{=response.title}}
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
      </div>
    </header>
{{end}}

    <script type="text/javascript">
      $(function(){
        
    //Google charts stuff

         

         
         var arrResults = {};
     var arrAverages = [];
          $.ajax({
            url: "/polls/default/getscores.json"    ,
            type: 'post',
            contentType: "application/json; charset=utf-8",
                    async:false,
            success: function( data, textStatus, jQxhr ){
      
                arrResults = data;

                        
            },
            error: function( jqXhr, textStatus, errorThrown ){
                console.log(JSON.stringify(jqXhr)+ errorThrown );
            }
        });
  
                //strContestants is the list of Contestants
                                arrContestants = arrResults["strContestants"];
                         
                                
                                for (var i=0;i<arrContestants.length-1;i++)
                                         {


                                                Contestant = arrContestants[i];
                    
                    
                                                 
                                                //Calculating the average
                                                var temparr = arrResults["floatPollCount"][i];
                                                total=0;
                                                for(var j=0;j<temparr.length;j++){
                                                        total += temparr[j];
                                                }
                                                averageScore = total/temparr.length;


                        arrAverages.push(averageScore);




                                        }











var dataforgraph = [];
dataforgraph.push(new Array('Candidate','Percent of Votes'));
//Others scores
otherscore=100;
for(var j=0;j<arrAverages.length;j++){
	otherscore -= arrAverages[j];
}
 dataforgraph.push(new Array('Others',otherscore)); 
 
 
 
                                for (var i=0;i<arrContestants.length-1;i++){
                    dataforgraph.push(new Array(arrContestants[i], arrAverages[i]));


}

                                
                                google.setOnLoadCallback(drawChart);
                                
                                
function drawChart() {
        var data = google.visualization.arrayToDataTable(dataforgraph);

        var options = {
          title: 'Poll Results',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }



                        

  });



     





      

    </script>
    <style>
        .liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }
    <style type="text/css">
        html, body {
        width: 100%;
    }
    table {
        margin: 0 auto;
    }
        
    </style>



</script>
   
<div id="piechart_3d" style="width: 900px; height: 500px;"></div>
    