{{extend 'layout.html'}}

<script
	src="https://openui5.netweaver.ondemand.com/resources/sap-ui-core.js"
	id="sap-ui-bootstrap"
	data-sap-ui-libs="sap.ui.commons,sap.ui.table,sap.ui.ux3,sap.m"
	data-sap-ui-theme="sap_bluecrystal">
	
</script>

<script src="{{=URL('static','js/FeedEk.js')}}"></script>
<style>
.nospace {
	display: "inline-block"
}
</style>

<script>
	$(window).load(function() {
		createTable("http://feeds.reuters.com/Reuters/PoliticsNews");
		createTable("http://feeds.nbcnews.com/feeds/topstories");
		createTable("http://feeds.foxnews.com/foxnews/politics");
		createTable("http://rss.cnn.com/rss/cnn_allpolitics.rss");
		createTable("http://thehill.com/taxonomy/term/1630/feed");
	});

	var arrNews = [];

	var oTable = new sap.ui.table.Table({

		visibleRowCount : 12,
		firstVisibleRow : 3,
		selectionMode : sap.ui.table.SelectionMode.Single,
		navigationMode : sap.ui.table.NavigationMode.Paginator,
		rowSelectionChange : function(e) {
			var idx = e.getParameter('rowIndex');
			
			//got object
			if (oTable.isIndexSelected(idx)) {
				var cxt = oTable.getContextByIndex(idx);
				var path = cxt.sPath;
				var obj = oTable.getModel().getProperty(path);
				console.log(obj.imgurl);
			}

			var tp2 = new sap.ui.ux3.ToolPopup({
				content : [new sap.ui.commons.TextView({
					text : JSON.stringify(obj.desc)
				})
				],
				width : "200px",
				height : "400px",
				opener : e.getSource(),//oTable.getRows()[oTable.getSelectedIndex()],
				autoClose : true,
				maxWidth : $(document).width() + "px"
			});
			sap.m.MessageToast.show(JSON.stringify(obj.desc),{
				duration: 300000,    
				autoClose: true
			});
			/* if (tp2.isOpen()) {
				tp2.close();
			} else {
				//my at = , parent is in left
				tp2.open(sap.ui.core.Popup.Dock.LeftTop,
						sap.ui.core.Popup.Dock.LeftTop);
			} */

		}

	});

	/* 		oTable.addColumn(new sap.ui.table.Column({
	 label : new sap.ui.commons.Label({
	 text : " "
	 }),
	 template : new sap.ui.commons.Image().bindProperty("src", "imgurl")
	 .setHeight("30px").setWidth("30px"),
	 width : "30px"
	

	 })); */

	var oLayout = new sap.ui.commons.layout.MatrixLayout({
		columns : 1
	});
	oLayout.createRow(new sap.ui.commons.Link().bindProperty("text", "title")
			.bindProperty("href", "link"));
	oLayout.createRow(new sap.ui.commons.TextView()
			.bindProperty("text", "desc"));
	oLayout.createRow(new sap.ui.commons.Image().bindProperty("src", "imgurl")
			.setHeight("48px").setWidth("48px"));
	var oColumn = new sap.ui.table.Column({
		label : new sap.ui.commons.Label({
			text : "Headlines"
		}),
		template : oLayout,
		sortProperty : "linkText",
		filterProperty : "linkText",
		width : "200px"
	});
	oTable.addColumn(oColumn);

	/* var oColumn2 = new sap.ui.table.Column({
		label: new sap.ui.commons.Label({text: "News"}),
		template: new sap.ui.commons.TextView().bindProperty("text", "desc"),
		sortProperty: "desc",
		filterProperty: "desc",
		width: "200px"
	});
	oTable.addColumn(oColumn2); */
	/* var oColumn3 = new sap.ui.table.Column({
		label: new sap.ui.commons.Label({text: "LINK"}),
		template: new sap.ui.commons.Link().bindProperty("text", "title").bindProperty("href", "link"),
		sortProperty: "linkText",
		filterProperty: "linkText",
		width: "200px"
	});
	oTable.addColumn(oColumn3); */

	//Create a model and bind the table rows to this model
	var oModel = new sap.ui.model.json.JSONModel();
	oModel.setData({
		modelData : arrNews
	});
	oTable.setModel(oModel);

	oTable.bindRows("/modelData");

	//Initially sort the table
	oTable.sort(oTable.getColumns()[0]);

	//Bring the table onto the UI 
	oTable.placeAt("sample1");

	function createTable(url) {

		var YQLstr = 'SELECT channel.item FROM feednormalizer WHERE output="rss_2.0" AND url ="'
				+ url + '" LIMIT ' + 20;

		

		$
				.ajax({
					url : "https://query.yahooapis.com/v1/public/yql?q="
							+ encodeURIComponent(YQLstr)
							+ "&format=json&diagnostics=false&callback=?",
					dataType : "json",
					beforeSend : function() {
						oTable.setBusy(true);
					},
					success : function(data) {

						if (!(data.query.results.rss instanceof Array)) {
							data.query.results.rss = [ data.query.results.rss ];
						}
						def = new Object();
						def.DescCharacterLimit = 500;
						$
								.each(
										data.query.results.rss,
										function(e, itm) {

											//single news element
											var singlenews = {};

											//Adding the necessary values to the single news
											singlenews["link"] = itm.channel.item.link;
											singlenews["title"] = itm.channel.item.title;

											if (itm.channel.item.content) {
												if (itm.channel.item.content.url) {
													//                    s += '<div class="itemContent"><img src="'+itm.channel.item.content.url+'" style="top:2px;left:0;width:32px;height:32px;"/><br/>';

													singlenews["imgurl"] = itm.channel.item.content.url;
												} else {
												}
											} else {
											}

											singlenews["desc"] = itm.channel.item.description
													.substr(
															0,
															itm.channel.item.description
																	.indexOf('<'));

											arrNews.push(singlenews);

										});
						oModel.setData({
							modelData : arrNews
						});
						oTable.setBusy(false);

					},
					error : function(jqXhr, textStatus, errorThrown) {
						oTable.setBusy(false);

						console.log(JSON.stringify(jqXhr) + errorThrown);
					}

				});

	}
</script>
<div id="sample1"></div>
